<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Дмитрий и мне 26. Последний год живу в Москве и работаю инженером ПТО в строительстве метро.
</p>
<p>
  Я автор данного сайта на Django, ну не совсем автор, я его сделал следуя подробнейшей
  инструкции. Это мой первый проект, так что не суди строго.
</p>
<p>
  А это ссылка на мой репозиторий на GitHub:
  <a href="https://github.com/Rudakov19/hw05_final">Rudakov19</a>
</p>
{% endblock %} 